html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-1200 {
  width: 1200px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px 0 57px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  margin-left: 10px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #292F36;
}

.menubar__list { 
  display: flex;
  align-items: center;
  text-align: center;
}

.menubar__link {
  text-decoration: none;
  margin-right: 50px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: #292F36;
}

.menubar__link:last-child {
  margin-right: 30px;
}

.banner__inner {
  margin-bottom: 200px;
  background: url(/img/main-banner.jpg);
  height: 758px;
  border-radius: 70px;
}

.banner__info {
  padding: 208px 0 0 52px;
}

.banner__title {
  margin-bottom: 18px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 125%;
  display: flex;
  align-items: center;
  color: #292F36;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.banner__subtitle {
  margin-bottom: 21px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.banner__button {
  display: inline-flex;
  padding: 26px 48px;
  border-radius: 18px;
  background-color: #292F36;
}

.button-text--light{
  margin-right: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stages__list {
  display: flex;
  margin-bottom: 200px;
  justify-content: space-between;
}

.stages__item {
  text-align: center;
  margin: 0 21px;
}

.stages__title {
  margin-bottom: 20px;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;  
  color: #292F36; 
}

.stages__descr {
  margin-bottom: 52px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
}

.stages__button {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button-text--dark {
  margin-right: 12px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #4D5053;
}
